<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><img src="/img/stuff-logo.png"></h1>
      <h2>Buy & sell your used & new stuff</h2>
      <a href="/users/register" class="btn btn-success register">Register</a>
      <a href="/users/login" class="btn btn-success login">Login</a>
    </div>
  </div>
</div>
